Documents/AipexPRO/seriale AipexPro.txt
Documents/Password AipexPro carica dati su inverter.txt
/mcu-stm32/.specstory
/mcu-stm32/.settings
/Tests/ControlUnit_Nucleo_F756ZG/.settings
/Tests/FixedCan - Banco Loccioni/ControlUnit_Nucleo_F756ZG/.settings
/Controls/TV/utils/.specstory
/.specstory
/Tests/FeatherDataCollectorBancoMotori/.specstory
/Controls/.specstory
/Tests/ESP32-WIFI-BT-communication/.specstory
Controls/docs/Perception, Deep Learning, and ADAS Workflows for Formula Student Driverless Vehicles.pptx
/Documents/.specstory
/Controls/.specstory
