Documents/AipexPRO/seriale AipexPro.txt
Documents/Password AipexPro carica dati su inverter.txt
/mcu-stm32/.specstory
/mcu-stm32/.settings
/Tests/ControlUnit_Nucleo_F756ZG/.settings
/Tests/FixedCan - Banco Loccioni/ControlUnit_Nucleo_F756ZG/.settings
/Controls/TV/utils/.specstory
/.specstory
/Tests/FeatherDataCollectorBancoMotori/.specstory
